body{
    background-color: #F6E6CB;
}
table{
    width:100%; 
    text-align: center;
    background-color: #E7D4B5;
}
h1{
    text-align: center;
    font-family: cursive;
    background-color: #A0937D;
}